SECRET_KEY=
DEBUG=True
POSTGRES_DB=courses
POSTGRES_USER=django
POSTGRES_PASSWORD=
POSTGRES_HOST=courses
POSTGRES_PORT=5432
ALLOWED_HOSTS=.localhost,127.0.0.1
TIME_ZONE=UTC
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DB=0
CELERY_BROKER_URL=redis://redis:6379/0
EMAIL_HOST_USER=irinka_p08@mail.ru
EMAIL_HOST_PASSWORD=
CELERY_TIMEZONE=Europe/Moscow
